<%- include('./partials/header') %>

    <h1><%= title %></h1>
    <div class="tagline-wrapper">
    <h2 id="tagline">The Tri-State's Karaoke Connection</h2>
    </div>

<%- include('./partials/footer') %>