<%- include('./partials/header') %>

    <div class="pgContent">

        <h1>
            <%= title %>
        </h1>
        <div class="tagline-wrapper">
            <h2 id="tagline">The Tri-State's Karaoke Connection</h2>
        </div>
    </div>

    <%- include('./partials/footer') %>