body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  align-items: baseline;
  height: 4vmin;
  justify-content: space-between;
}

.login img {
  height: 30px;
}