<%- include('../partials/header') %>

<section>
<h1><%= title %></h1>
    <div class="area"><a href="/venues/NYC">NYC</a></div>
    <div class="area"><a href="/venues/Long-Island">Long Island</a></div>
    <div class="area"><a href="/venues/Westchester">Westchester</a></div>
    <div class="area"><a href="/venues/NJ-metro">NJ metro</a></div>
    <div class="area"><a href="/venues/CT-metro">CT metro</a></div>
</section>

<%- include('../partials/footer') %>