<%- include('../partials/header') %>

<h1><%= title %></h1>
    <div class="area"><a href="/venues/nyc">NYC</a></div>
    <div class="area"><a href="/venues/long-island">Long Island</a></div>
    <div class="area"><a href="/venues/westchester">Westchester</a></div>
    <div class="area"><a href="/venues/nj-metro">NJ metro</a></div>
    <div class="area"><a href="/venues/ct-metro">CT metro</a></div>

<%- include('../partials/footer') %>